/* ==============================
   BON DE LIVRAISON - DESIGN PRO
============================== */
@page {
    size: A4;
    margin: 5mm 5mm 20mm 5mm;
    
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#222;
    margin:30px;
    margin-bottom: 50mm;
}

.pdf-footer {
    position: fixed;
    bottom: 30mm;
    left: 5mm;
    right: 5mm;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.pdf-footer p {
    margin: 0;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.foot-page{
    margin-top: 60px;
}

.bon-wrapper {
    max-width: 950px;
    margin: 20px auto;
    background: #ffffff;
    padding: 10px 30px 30px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.first-header .img-style img{
    height: 130px;
    width: 130px;
}

.first-header .info-style p {
    font-size: 10px;
    margin:0;
}


.first-header .info-style p span {
    color: red;
}

.nota-bene{
    margin-top: 20px;
}

/* Header */
.bon-header {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: right;
}

.bon-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    font-weight: 600;
    color: red;
}

.mention{
    margin-top: 10px;
    font-size: 12px;
}

.bon-subtitle {
    font-size: 12px;
    font-weight: 600;
    color: black;
}

.nom-client{
    color: red;
}

/* Info section */
.bon-info-box {
    padding: 10px;
    margin-bottom: 20px;

    border: 1px solid rgb(232, 232, 232);
}

.bon-info-box div{
    padding: 2px;
}

.bon-info-box strong {
    color: black;
}

/* Table */
.bon-table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

.bon-table thead {
    background-color: gainsboro;
    color: black;
}


.bon-table th,
.bon-table td {
    padding: 15px;
    text-align: left;
}

.bon-table tbody tr {
    border-bottom: 1px solid #eee;
}

.bon-table tbody tr:hover {
    background-color: #f1fdf6;
}

/* Total section */
.bon-total-box {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.bon-total {
    background: gainsboro;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Buttons */
.bon-actions {
    margin-top: 30px;
    text-align: center;
}


/* ======================
   FOOTER
====================== */

.footer-prof {
    position: fixed;
    bottom: 20mm;
    left: 5mm;
    right: 5mm;
    display: flex;
    justify-content: space-between;
}


.footer-prof .footer-right h5{
    font-size: 12px;
    text-decoration: underline;
    font-weight: 600;
}

.footer-prof .footer-left h5{
    font-size: 12px;
    text-decoration: underline;
    font-weight: 600;
}



/* Print Style */
@media print {
    body {
        background: white;
    }

    .no-print {
        display: none !important;
    }

    .bon-wrapper {
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;
    }
}

