{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<h4 class="fw-bold">Bons de commande</h4>

<a href="{{ url_for('nouveau_bon_commande') }}" class="btn btn-primary mb-3">
Nouveau bon
</a>

{% if bons %}

<div class="card">

<div class="table-responsive" style="max-height:380px; overflow-y:auto;">
    <table class="table table-hover table-bordered align-middle">
        <thead class="table-dark sticky-top">

<tr>
<th>Numéro</th>
<th>Client</th>
<th>quantite</th>
<th>Livré</th>
<th>Reste</th>
<th>Status</th>
<th>Action</th>
</tr>

</thead>

<tbody>

{% for bon in bons %}

<tr>

<td class="small fw-light">{{ bon.numero }}</td>

<td class="small fw-light">{{ bon.client.nom_client }}</td>

<td>{{ bon.lignes | sum(attribute='quantite') }}</td>

<td>
{{ bon.lignes | sum(attribute='quantite_livree') }}
</td>

<td>
{{ bon.lignes | sum(attribute='reste_a_livrer') }}
</td>

<td>

<span class="badge
{% if bon.status == 'livree' %}
bg-success
{% elif bon.status == 'livraison_partielle' %}
bg-warning
{% elif bon.status == 'annulee' %}
bg-danger
{% elif bon.status == 'confirmee' %}
bg-info
{% else %}
bg-secondary
{% endif %}
">

{{ bon.status }}

</span>

</td>

<td>

<a href="{{ url_for('details_bon_commande', bon_id=bon.id) }}"
class="btn btn-sm btn-info">
Voir
</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% else %}

<div class="alert alert-warning text-center">
Aucun bon de commande enregistré.
</div>

{% endif %}

</div>

{% endblock %}