{% extends "base_print.html" %}
{% block title %}Certificat d'installation{% endblock %}
{% block styles %}
 <link rel="stylesheet" href="{{ url_for('static', filename='style/detail_bon_livraison.css') }}">
{% endblock %}
{% block content %}

<div class="bon-wrapper ">    
    <!-- Header -->
    <div class=" first-header d-flex justify-content-between align-items-center">
        <div class="img-style">
            {% if compagnie and compagnie.logo %}
                <img src="{{ compagnie.logo }}" height="70" width="70">
            {% endif %}
        </div>
        <div class="info-style">
            <p><span class="text-danger fw-bold">TIME INTERNATIONAL CO. LTD</span></p>
            <p class="fw-bold">REPRESENTATION A ABIDJAN</span><br></p>
            <p><span class="text-danger fw-bold">I - MEDICAL</span></p>
            <p class="">Tel : (225) 27 21 59 38 82</p>
            <p class="">E-MAIL : info@imboe.com</p>
            <p class="">MARCORY BOULEVARD VGE</p>
            <p class="">FACEBOOK: IMBOE I-MEDICAL</p>
            <p class="">REPUBLIQUE DE COTE D'IVOIRE</p>
        </div>
    </div>

    <div class="bon-title">CERTIFICAT D'INSTALLATION</div>

    <div class="bon-header">
        
        <div class="text-end">
            <strong>Date : </strong>
            {{ bon.date_creation.strftime('%d/%m/%Y') }}
        </div>
        <div class="bon-subtitle">N° {{ numero_ci }}</div>
    </div>
    
    <!-- Infos -->
    <div class="bon-info-box ">
            <div>
                <strong>Client :</strong>
                <span class="text-danger fw-bold nom-client">{{ bon.client.nom_client }}</span>
            </div>
            <div>
                <strong>ATTN :</strong>
                <span class="text-danger fw-bold">{{ bon.client.attn }}</span>
            </div>
            <div>
                <strong>Tel :</strong>
                <span class="text-danger fw-bold">{{ bon.client.telephone }}</span>
            </div>
            <div>
                <strong>Adresse :</strong>
                <span class="text-danger fw-bold">{{ bon.client.adresse }}</span>
            </div>
    </div>
    
    <!-- Table -->
    <table class="bon-table">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Designatio</th>
                <th>Quantité</th>
                <th>Marque</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            {% for ligne in bon.lignes %}
            <tr>
                <td>{{ ligne.numero_serie }}</td>
                <td>{{ ligne.produit.nom_produit }}</td>
                <td>{{ ligne.quantite }}</td>
                <td>{{ ligne.produit.marque }}</td>
                <td>{{ ligne.produit.model }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <p class="mention"><strong>NOUS CERTIFIONS QUE LE MATERIEL CI-DESSUS  CITE A ETE INSTALLE ET EST EN ETAT DE BON FONCTIONNEMENT.</strong></p>
    <div class="footer-prof">
    <div class="footer-left">
            <h5>
                LU ET APPROUVE
            </h5>
        </div>

        <div class="footer-right">
            <h5>
                SERVICE TECHNIQUE
            </h5>

        </div>
</div>
    
</div>
{% if not pdf_mode %}
<div class=" p-2">
    <a href="{{ url_for('liste_bons_livraison') }}" 
       class="btn btn-outline-secondary">
        ⬅ Retour
    </a>

    <a href="{{ url_for('certificat_installation_pdf', id=bon.id) }}"
   target="_blank"
   class="btn btn-success">
    🖨 Imprimer PDF
</a>
</div>
{% endif %}

{% endblock %}