{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">

<h5 class="mb-0">Détails Proforma</h5>

<div>
<a href="#" class="btn btn-light btn-sm">
Imprimer
</a>
</div>

</div>


<div class="card-body">

<!-- INFO PROFORMA -->

<div class="row mb-4">

<div class="col-md-6">

<h6 class="text-muted">Proforma</h6>

<ul class="list-unstyled">

<li><strong>Numéro :</strong> {{ proforma.numero }}</li>
<li><strong>Date :</strong> {{ proforma.date.strftime("%d/%m/%Y") }}</li>
<li><strong>Condition paiement :</strong> {{ proforma.condition_paiement }}</li>
<li><strong>Délai livraison :</strong> {{ proforma.delai_livraison }}</li>
<li><strong>Garantie :</strong> {{ proforma.garantie }}</li>
<li><strong>Attn :</strong> {{ proforma.attn }}</li>

</ul>

</div>


<div class="col-md-6">

<h6 class="text-muted">Client</h6>

<ul class="list-unstyled">

<li><strong>Nom :</strong> {{ proforma.client.nom_client }}</li>
<li><strong>Téléphone :</strong> {{ proforma.client.telephone }}</li>
<li><strong>Email :</strong> {{ proforma.client.adresse_email }}</li>
<li><strong>Ville :</strong> {{ proforma.client.ville }}</li>
<li><strong>RCC :</strong> {{ proforma.client.numero_rcc }}</li>

</ul>

</div>

</div>


<!-- TABLE PRODUITS -->

<div class="table-responsive">

<table class="table table-bordered table-striped">

<thead class="table-dark">

<tr>

<th>#</th>
<th>Produit</th>
<th>Conditionnement</th>
<th>Quantité</th>
<th>Prix Unitaire</th>
<th>Sous Total</th>

</tr>

</thead>

<tbody>

{% for ligne in proforma.lignes %}

<tr>

<td>{{ loop.index }}</td>

<td>{{ ligne.produit.nom_produit }}</td>

<td>{{ ligne.conditionnement }}</td>

<td>{{ ligne.quantite }}</td>

<td>{{ "{:,.2f}".format(ligne.prix_unitaire) }}</td>

<td>{{ "{:,.2f}".format(ligne.sous_total) }}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>


<!-- TOTAL -->

<div class="row mt-4">

<div class="col-md-4 offset-md-8">

<div class="card">

<div class="card-body">

<h5 class="d-flex justify-content-between">

<span>Total :</span>

<span class="text-success">

{{ "{:,.2f}".format(proforma.total) }}

</span>

</h5>

</div>

</div>


</div>

</div>
<div class="d-flex align-left  gap-2 w-100">
    <a href="{{ url_for('liste_proformas') }}" class="btn btn-secondary">
    Retour
    </a>
    
    <a href="{{ url_for('proforma_pdf', proforma_id=proforma.id) }}" class="btn btn-primary" target="_blank">
    PDF
    </a>
</div>
</div>

</div>


</div>

{% endblock %}