{% extends "base.html" %}
{% block title %} Change Password | gestock{% endblock %}

{% block styles %}
    
{% endblock %}
{% block content %}
<div class="modal fade show"
     style="display:block;"
     tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header bg-warning">
        <h5 class="modal-title">
            🔐 Changement de mot de passe requis
        </h5>
      </div>

      <div class="modal-body">
        <form method="POST">
    {{ form.hidden_tag() }}

    <!-- Nouveau mot de passe -->
    <div class="mb-3">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}

        {% for error in form.password.errors %}
            <div class="text-danger small">{{ error }}</div>
        {% endfor %}
    </div>

    <!-- Confirmation -->
    <div class="mb-3">
        {{ form.confirm.label }}
        {{ form.confirm(class="form-control") }}

        {% for error in form.confirm.errors %}
            <div class="text-danger fs-6 fw-bold">{{ error }}</div>
        {% endfor %}
    </div>

    {{ form.submit(class="btn btn-success w-100") }}
</form>

      </div>

    </div>
  </div>
</div>
{% endblock %}