{% extends "base.html" %}
{% block title %}Facture | gestock{% endblock %}

{% block content %}
<div class="container my-4">

  <h3 class="mb-3">📄 Liste des factures</h3>
  <hr>

  <div class="table-responsive" style="max-height: 330px; overflow-y: auto;">
    <table class="table table-bordered align-middle my-2">
      <thead class="table-dark sticky-top">
        <tr>
          <th>N° Facture</th>
          <th>Date</th>
          <th>Client</th>
          <th>Total</th>
          <th>Payé</th>
          <th>Reste</th>
          <th>Statut</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for f in factures %}
        <tr>
          <td>{{ f.numero }}</td>
          <td>{{ f.date.strftime("%d/%m/%Y") }}</td>
          <td>{{ f.client.nom_client }}</td>
          <td>{{ f.total | money }}</td>
          <td>{{ f.total_paye | money }}</td>

          <td class="text-center">
            <a href="{{ url_for('facture', facture_id=f.id) }}"
               class="btn btn-sm btn-outline-primary mb-1">
              Voir
            </a>

            {% if f.statut != "ANNULEE" %}
            <form method="POST"
                  action="{{ url_for('annuler_facture', facture_id=f.id) }}"
                  onsubmit="return confirm('Voulez-vous vraiment annuler cette facture ? Tous les montants seront reversés.');"
                  class="d-inline">
              <button type="submit" class="btn btn-sm btn-outline-danger">
                Annuler
              </button>
            </form>
            {% else %}
              <span class="badge bg-danger">Annulée</span>
            {% endif %}
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="9" class="text-center">
            Aucune facture disponible
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
