{% extends "base.html" %}
{% block title %}Login | gestock{% endblock %}

{% block styles %}
    
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-4">
            <form method="post" class="card shadow bg-success bg-opacity-25 p-4 p-md-5">
                {{ form.hidden_tag() }}
                <h5 class="text-center mb-4 fw-bold text-success">Connexion</h5>
                    <div class="mb-3 ">
                        {{ form.username.label(class="form-label") }}
                            {{ form.username(class="form-control") }}
                    </div>
    
                    <div class="mb-3 ">
                        {{ form.password.label(class="form-label mt-1") }}
                            {{ form.password(class="form-control") }}
                    </div>
    
                    <div class="form-check text-center mb-3">
                        {{ form.remember(class="form-check-input") }} 
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                        {{ form.submit(class="btn btn-success w-100") }}
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}