{% extends "base_print.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/proforma_pdf.css') }}">
{% endblock %}

{% block content %}

<!-- HEADER ENTREPRISE -->
<div class="header">

    <div class="left">
        {% if compagnie and compagnie.logo %}
        <img src="{{ compagnie.logo }}" height="70">
        {% endif %}
    </div>

    <div class="right">
        <strong>TIME INTERNATIONAL CO. LTD</strong><br>
            <p>REPRESENTATION A ABIDJAN</p>
            <strong>I - MEDICAL</strong><br>
            <p>Tel : (225) 27 21 59 38 82</p>
            <p>E-MAIL : info@imboe.com</p>
            <p>MARCORY BOULEVARD VGE</p>
            <p>FACEBOOK: IMBOE I-MEDICAL</p>
            <p>REPUBLIQUE DE COTE D'IVOIRE</p>

    </div>

</div>


<!-- TITRE DOCUMENT -->

<div class="entete">
    <h2>FACTURE PROFORMA</h2>
</div>


<!-- INFOS PROFORMA -->

<div class="info-doc">

<strong>Numéro :</strong> {{ proforma.numero }} <br>
<strong>Date :</strong> {{ proforma.date.strftime('%d/%m/%Y') }}

</div>


<!-- INFOS CLIENT -->

<div class="client-box">

<h3>DOIT :</h3>

<strong>{{ proforma.client.nom_client }}</strong><br>

Tel : {{ proforma.client.telephone }} <br>
Ville : {{ proforma.client.ville }}

</div>


<!-- CONDITIONS COMMERCIALES -->

<div class="conditions-box">

<table class="conditions-table">

<tr>
<td><strong>Condition de paiement</strong></td>
<td>{{ proforma.condition_paiement }}</td>
</tr>

<tr>
<td><strong>Délai de livraison</strong></td>
<td>{{ proforma.delai_livraison }}</td>
</tr>

<tr>
<td><strong>Garantie</strong></td>
<td>{{ proforma.garantie }}</td>
</tr>

</table>

</div>



<!-- TABLE PRODUITS -->

<table class="table-produits">

<thead>
<tr>
<th>Produit</th>
<th width="80">Qté</th>
<th width="120">PU</th>
<th width="150">Sous-total</th>
</tr>
</thead>

<tbody>

{% for ligne in proforma.lignes %}

<tr>

<td>
<strong>{{ ligne.produit.nom_produit }}</strong><br>
{{ ligne.produit.description }}
</td>

<td>{{ ligne.quantite }}</td>

<td>{{ ligne.prix_unitaire | money }} FCFA</td>

<td>{{ ligne.sous_total | money }} FCFA</td>

</tr>

{% endfor %}

<tr class="total-row">

<td colspan="3">
Montant Total
</td>

<td>
<strong>{{ proforma.total | money }} FCFA</strong>
</td>

</tr>

</tbody>

</table>



<!-- IMAGES PRODUITS -->

<div class="images-container">

{% for ligne in proforma.lignes %}

{% if ligne.produit.image %}

<div class="produit-item">

<p class="produit-nom">
{{ ligne.produit.nom_produit }}
</p>

<img src="{{ ligne.produit.image }}" class="produit-img">

</div>

{% endif %}

{% endfor %}

</div>



<!-- FOOTER -->

<div class="footer-prof">

<p class="footer-note">

Ceci est une facture proforma, elle ne constitue pas une facture définitive.

</p>

</div>

{% endblock %}