{% extends "base.html" %}
{% block title %}Rapport | gestock{% endblock %}

{% block content %}
    <form method="GET" action="{{ url_for('rapport_stock') }}" class="row g-3 mb-4" style="height: 100px;">
        <div class="col-md-4">
            <select name="produit_id" class="form-select">
                <option value="">-- Choisir Produit --</option>
                {% for p in produits %}
                <option value="{{ p.id }}" {% if selected_produit_id == p.id %}selected{% endif %}>
                    {{ p.nom_produit }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-4">
            <select name="magasin_id" class="form-select">
                <option value="">-- Choisir Magasin --</option>
                {% for m in magasins %}
                <option value="{{ m.id }}" {% if selected_magasin_id == m.id %}selected{% endif %}>
                    {{ m.nom }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-4">
            <button type="submit" class="btn btn-primary w-100">
                🔎 Filtrer
            </button>
        </div>
    </form>

    <hr>

    <h3>Produits en stock ({{ stocks|length }})</h3>
    
    {% if stocks %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Produit</th>
                        <th>Magasin</th>
                        <th>Conditionnement</th>
                        <th>Quantité</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in stocks %}
                    <tr>
                        <td>{{ s.produit.nom_produit }}</td>
                        <td>{{ s.magasin.nom }}</td>
                        <td>{{ s.type_conditionnement.value }}</td>
                        <td class="fw-bold">{{ s.quantite }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning">
            Aucun produit en stock trouvé.
        </div>
    {% endif %}
{% endblock %}