{% extends "base.html" %}
{% block title %}Rapport | gestock{% endblock %}

{% block content %}
    <form method="GET" action="{{ url_for('rapport_stock') }}" class="row g-3 mb-2" style="height: 100px;">
        <div class="col-md-4"  >
            <select name="produit_id" class="form-select">
                <option value="">-- Choisir Produit --</option>
                {% for p in produits %}
                <option value="{{ p.id }}" {% if selected_produit_id == p.id %}selected{% endif %}>
                    {{ p.nom_produit }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-4">
            <select name="magasin_id" class="form-select">
                <option value="">-- Choisir Magasin --</option>
                {% for m in magasins %}
                <option value="{{ m.id }}" {% if selected_magasin_id == m.id %}selected{% endif %}>
                    {{ m.nom }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-4">
            <button type="submit" class="btn btn-primary w-100">
                🔎 Filtrer
            </button>
        </div>
    </form>

    <hr>

    {# TEST SIMPLE #}
    <h3>Résultats ({{ stocks|length }})</h3>
    
    {% for s in stocks %}
        <div style="border:1px solid #ccc; margin:10px; padding:10px;">
            <strong>Produit:</strong> {{ s.produit.nom_produit }}<br>
            <strong>Magasin:</strong> {{ s.magasin.nom }}<br>
            <strong>Quantité:</strong> {{ s.quantite }}
        </div>
    {% else %}
        <div class="alert alert-warning">
            Aucun résultat trouvé.
        </div>
    {% endfor %}
{% endblock %}