{% extends "base.html" %}
{% block title %}Stock | gestock{% endblock %}

{% block styles %}
    
{% endblock %}
{% block content %}
    <h2>État du stock</h2>

<table class="table table-bordered table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th>Produit</th>
            <th>Stock disponible</th>
            <th>Statut</th>
        </tr>
    </thead>
    <tbody>
        {% for p in produits %}
        <tr>
            <td>{{ p.nom_produit }}</td>
            <td>{{ p.stock }}</td>
            <td>
                {% if p.stock == 0 %}
                    <span class="badge bg-danger">Rupture</span>
                {% elif p.stock < 5 %}
                    <span class="badge bg-warning text-dark">Faible</span>
                {% else %}
                    <span class="badge bg-success">Disponible</span>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4" class="text-center">
                Aucun produit en stock
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}